.Services{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 90vh;
    margin-bottom: 8rem;
    margin-top: 9rem;
    position: relative;
}
.left{
    display: flex;
    position: relative;
    flex-direction: column;
}
.left>:nth-child(1)
{
    font-size: 2.5rem;
    color: var(--black);
    font-weight: bold;
}
.left>:nth-child(2)
{
    font-size: 2.5rem;
    color: var(--orange);
    font-weight: bold;
}
.left>:nth-child(3)
{
    font-size: 18px;
    color: var(--gray);
    font-weight: bold;
    margin: 1rem;
}
.button.button.s-button{
    width: 8rem;
}
.s-button{
    height: 3rem;
    margin-top: 1rem;
}
.right{
    position: relative;
}
@media screen and (max-width: 480px) {
    .Services {
      margin-top: 0;
      flex-direction: column;
      gap: 5rem;
      height: 66rem;
      padding: 0;
    }
  
    .card {
      display: flex;
      flex-direction: column;
      gap: 17rem;
    }
    .card > * {
      position: static;
    }
  }